body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.content{
    width: 100%;
    margin: 0;
    color: #FFF;
}
.content a{
    text-decoration:none;
}
.fortip{
    color: #CBCBCB;
    text-align: center;
}
.emad{
    text-align: left;
}
.emad li{
    list-style-type: none;
    color: #B5B5B5;
    font-weight: bold;
}
.inem{
    outline-style: none;
    outline-width: 0;
    outline-color: transparent;
    border: 0.1em #CBCBCB solid;
}
.rebu{
    text-align: center;
    background-color: #64D2A3;
    color: white;
}
.ft{
    background-color: #28AB8B;
}
@media screen and (max-device-width: 425px){ /*mobile*/
.fortip{
    width: 70%;
    height: 3em;
    margin-top: 1em;
    margin-left: 15%;
    font-size: 1.1em;
}
.emad{
    width: 80%;
    height: 6em;
    margin-left: 10%;
}
.emad li{
    font-size: 0.8em;
}
.inem{
    margin-top: 1em;
    width: 100%;
    outline: 0;
    height: 3em;
}
.rebu{
    width: 80%;
    height: 3em;
    margin-left: 10%;
    font-size: 0.8em;
    line-height: 3em;
}
.ft{
    margin-top: 15em;
    width: 100%;
    height: 8em;
}
.ftt{
    padding-top: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 1em;
    line-height: 0.4em;
}
.ftm{
    font-size: 1.2rem;
    font-weight: normal;
}
.sinf{
    width: 100%;
    text-align: center;
    font-size: 0.3em;
    font-weight: bold;
    line-height: 1.0em;
}
}
@media screen and (min-device-width: 426px) and (max-device-width: 767px){ /*landscape*/
.fortip{
    width: 50%;
    height: 3em;
    margin-left: 25%;
    font-size: 1.4em;
    font-weight: normal;
}
.emad{
    width: 60%;
    height: 6em;
    margin-left: 20%;
}
.emad li{
    font-size: 0.8em;
}
.inem{
    margin-top: 0.6em;
    width: 100%;
    outline: 0;
    height: 3em;
}
.rebu{
    width: 60%;
    height: 3em;
    margin-left: 20%;
    line-height: 3em;
    font-weight: bold;
}
.ft{
    margin-top: 4em;
    width: 100%;
    height: 8em;
}
.ftt{
    padding-top: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 0.8rem;
}
.ftm{
    font-size: 0.8rem;
    font-weight: normal;
}
.sinf{
    font-size: 0.8rem;
    height: 5em;
}
.sinf p{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1em;
}
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){ /*ipad*/
.fortip{
    width: 50%;
    height: 3em;
    margin-left: 25%;
    font-size: 1.3em;
    font-weight: lighter;
}
.emad{
    width: 44%;
    height: 6em;
    margin-left: 28%;
}
.emad li{
    font-size: 0.8em;
}
.inem{
    margin-top: 0.6em;
    width: 100%;
    outline: 0;
    height: 3em;
}
.rebu{
    width: 44%;
    height: 3em;
    margin-left: 28%;
    line-height: 3em;
    font-weight: bold;
}
.ft{
    margin-top: 36em;
    width: 100%;
    height: 8em;
}
.ftt{
    padding-top: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 0.8rem;
}
.ftm{
    font-size: 0.8rem;
    font-weight: normal;
}
.sinf{
    font-size: 0.8rem;
}
.sinf p{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 0.5em;
}
}
@media screen and (min-device-width: 1025px){ /*des*/
.fortip{
    width: 33%;
    height: 4em;
    margin-left: 33%;
    font-family: Arial;
    font-size: 2em;
    font-weight: 100;
}
.emad{
    width: 20%;
    height: 6em;
    margin-left: 40%;
}
.emad li{
    font-size: 1em;
}
.inem{
    margin-top: 1em;
    width: 100%;
    outline: 0;
    height: 3em;
}
.rebu{
    width: 20%;
    height: 3em;
    margin-left: 40%;
    font-size: 1em;
    line-height: 3em;
}
.ft{
    margin-top: 6em;
    width: 100%;
    height: 13em;
}
.ftt{
    padding-top: 2em;
    width: 100%;
    height: 3em;
    text-align: center;
    font-size: 1.2rem;
}
.ftm{
    font-size: 1.2rem;
    font-weight: normal;
}
.sinf{
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}
}