*{ 
    margin:0; 
    padding:0;
}
body{
    margin:0; 
    padding:0;
    width:100%;
    font-family: Arial;
}
.content-middle-choose-facebook{
    background-color: #3D5A94;
    color: #fff;
    text-align: center;
    border-radius: 0.3em;
}
.facf{
    vertical-align:middle;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3em;
}
.content{    
    width:100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}
.content-middle{
    height: 420px;
    width: 100%;
}
.content-middle-number{
    color: #CBCBCB;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.content-down{
    color: #fff;
}
.content-down-top{
    padding-top: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 1.2rem;
}
.content-down-middle{
    font-size: 1.2rem;
    font-weight: 300;
}
.content-down-bottem{
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
}
@media screen and (min-width: 1025px){
    /*页头-至content-middle*/
    /*菜单按钮*/
    .mobile,
    .navbar{
        display: none;
    }
    .content-up{
        list-style-type:none;
        width:100%;
        height: 80px;
        line-height: 80px;
        display: flex;
        border-bottom: 1px solid #DFFAED;
    }
    .content-up-left{
        width:30%;
        font-size: 23px;
        margin-left: 3%;
        display: flex;
        flex-direction: row;
    }
    .content-up-left-mobile{
        color: #D9FAE9;
    }
    .content-up-left-massages{
        font-weight: bold;
        margin-left: 0.5%;
        color: #64D1A3;
    }
    .content-up-center{
        font-size: 18px;
        width:54%;
        display: flex;
        flex-direction: row-reverse;
    }
    .content-up-center li{
        margin-right: 2%; 
    }
    #content-up-center-booking{
        font-weight: bold;
        color: #999999;
    }
    .content-up-center li a{
        color: #A6A6A6;
        text-decoration:none;
    }
    .content-up-right{
        width: 13%;
        text-align: center;
        font-size: 18px;
    }
    #content-up-right-login{
        color: #77D6AE;
        text-decoration:none;
    }

    /*主体*/
    .content-middle{
        margin-top: 50px;
    }
    .content-middle-number{
        height: 90px;
        line-height: 90px;
        width: 32%;
        margin-left: 34%;
        margin-right: 34%;
        font-size: 32px;
        border-top: 2px solid #D9FAE9;
        border-bottom: 2px solid #D9FAE9;
    }
    .content-middle-number-three{
        font-size: 50px;
        color: #666666;
    }

    .content-middle-title{
        text-align: center;
        color: #999999;
        font-size: 48px;
        margin-top: 40px;
    }
    .content-middle-choose{
        color: #787878;
        width: 20%;
        margin-left: 40%;
        margin-top: 80px;
        font-size: 17px;
    }
    .new{
        background-color: #D9FBEA;
        height: 40px;
        line-height: 40px;
    }
    .new input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .old{
        height: 40px;
        line-height: 40px;
    }
    .old input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .content-middle-choose-facebook{
        margin-top: 2em;
        height: 3em;
    }
    .content-middle-choose-or{
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
    }
    .or{
        width: 43%;
        height: 60px;
        border-bottom: 1px solid #999999;
    }
    .or-middle{
        font-size: 20px;
        height: 60px;
        line-height: 120px;
    }
    .content-middle-message_new{
        display: block;
        width: 20%;
        margin-left: 40%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_new input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-message_old{
        display: none;
        width: 20%;
        margin-left: 40%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_old input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-continue{
        width: 84%;
        margin:50px 8% 15px 8%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    .facf{
        line-height: 1.6em;
    }
    .tip{
        font-size: 10px;
        text-align: center;
    }
    .tip-linetwo{
        margin-bottom: 30px;
    }
    .back{
        margin-left: 40%;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .forgot{
        margin-left: 30%;
        height: 30px;
        line-height: 60px;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .content-middle-continue_old{
        width: 84%;
        margin:20px 8% 60px 8%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    /*页脚*/
    .content-down{
        height: 240px;
        width: 100%;
        margin-top:880px;
        /*margin-top: 640px;*/
        background-color: #2BAB8B;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    /*页头-至content-middle*/
    /*菜单按钮*/
    .mobile,
    .navbar{
        display: none;
    }
    .content-up{
        list-style-type:none;
        width:100%;
        height: 80px;
        line-height: 80px;
        display: flex;
        border-bottom: 1px solid #DFFAED;
    }
    .content-up-left{
        width:30%;
        font-size: 16px;
        margin-left: 4%;
        display: flex;
        flex-direction: row;
    }
    .content-up-left-mobile{
        color: #D9FAE9;
    }
    .content-up-left-massages{
        font-weight: bold;
        margin-left: 1%;
        color: #64D1A3;
    }
    .content-up-center{
        font-size: 13px;
        width:54%;
        display: flex;
        flex-direction: row-reverse;
    }
    .content-up-center li{
        margin-right: 2%; 
    }
    #content-up-center-booking{
        font-weight: bold;
        color: #999999;
    }
    .content-up-center li a{
        color: #A6A6A6;
        text-decoration:none;
    }
    .content-up-right{
        width: 13%;
        text-align: center;
        font-size: 18px;
    }
    #content-up-right-login{
        color: #77D6AE;
        text-decoration:none;
    }


    /*主体*/
    .content-middle{
        margin-top: 70px;
    }
    .content-middle-number{
        height: 90px;
        line-height: 90px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 32px;
        border-top: 2px solid #D9FAE9;
        border-bottom: 2px solid #D9FAE9;
    }
    .content-middle-number-three{
        font-size: 50px;
        color: #666666;
    }
    
    .content-middle-title{
        text-align: center;
        color: #999999;
        font-size: 48px;
        margin-top: 40px;
    }
    .content-middle-choose{
        color: #787878;
        width: 36%;
        margin-left: 32%;
        margin-top: 80px;
        font-size: 17px;
    }
    .new{
        background-color: #D9FBEA;
        height: 40px;
        line-height: 40px;
    }
    .new input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .old{
        height: 40px;
        line-height: 40px;
    }
    .old input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .content-middle-choose-facebook{
        margin-top: 2em;
        height: 2em;
    }
    .content-middle-choose-or{
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
    }
    .or{
        width: 43%;
        height: 60px;
        border-bottom: 1px solid #999999;
    }
    .or-middle{
        font-size: 20px;
        height: 60px;
        line-height: 120px;
    }
    .content-middle-message_new{
        display: block;
        width: 36%;
        margin-left: 32%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_new input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-message_old{
        display: none;
        width: 36%;
        margin-left: 32%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_old input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-continue{
        width: 84%;
        margin:50px 8% 15px 8%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    .tip{
        font-size: 10px;
        text-align: center;
    }
    .tip-linetwo{
        margin-bottom: 30px;
    }
    .back{
        margin-left: 40%;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .forgot{
        margin-left: 30%;
        height: 30px;
        line-height: 60px;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .content-middle-continue_old{
        width: 84%;
        margin:20px 8% 60px 8%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    /*页脚*/
    .content-down{
        height: 180px;
        width: 100%;
        margin-top:880px;
        /*margin-top: 640px;*/
        background-color: #2BAB8B;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    /*页头-至content-middle*/
    /*菜单按钮*/
    .mobile{
        position: absolute;
        top:15px; 
        right:50px;
    }
    .mobile-openbtn {
        float:right; 
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        outline:none;
    }
    .mobile-openbtn:active {
        border: 1px solid #CBCBCB;
    }
    .mobile-openbtn .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #CBCBCB;
    }
    .mobile-openbtn .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    /*菜单栏*/
    .navbar{
        display: none;
        cursor:pointer;
        position:relative;
        z-index:10;
        height: 100%;
        width: 75%;
    }
    /*关闭菜单*/
    .navbar img{
        position:absolute; 
        z-index: 2000;
        display:block;
    }
    #navbar-img{
        position: absolute;
        width: 30px;
        height: width;
        right: 20px;
        top: 15px;
    }
    /*菜单背景*/
    .navbar-background{ 
        width:100%; 
        height:500px; 
        position:absolute; 
        right:0; 
        z-index:-5;
    }
    .navbar-background img{ 
        width:100%; 
        height:100%;
        position:absolute; 
        right:0; 
        z-index:-5;
    }
    /*菜单头*/
    .navbar-top{
        width:97%;
        height: 50px;
        z-index:20;
        display: flex;
        flex-direction: row;
        line-height: 60px;
    }
    .navbar-top-menu{
        width: 30%;
        font-size: 30px;
        color: #CBCBCB;
        text-align: center;
    }
    .navbar-top-mobile{
        width: 20%;
        font-size: 18px;
        margin-left: 12px;
        color: #77D6AE;
        text-align: right;
    }
    .navbar-top-massages{
        font-size: 18px;
        font-weight: bold;
        margin-left: 4px;
        color: #64D1A3;
        text-align: left;
    }
    /*菜单*/
    .navbar-choose{ 
        width:100%;
        z-index:20;
        position:relative;
        right:0; 
        top: 1%;
    }
    .navbar-choose li{ 
        width:100%; 
        height:45px; 
        line-height: 45px;
        list-style-type:none;
        border-top: 2px solid #F2F2F2;
        font-weight: bold;
    }
    #navbar-choose-home{
        color: #666666;
    }
    .navbar-choose li a{ 
        font-size:18px; 
        color: #A6A6A6;
        margin-left: 6%;
        text-decoration:none;
    }

    /*Mobile massages*/
    .content-up-right,
    .content-up-center{
        display: none;
    }
    .content-up-left{
        width:100%;
        height: 75px;
        font-size: 18px;
        line-height: 75px;
        display: flex;
    }
    .content-up-left-mobile{
        width: 50%;
        color: #77D6AE;
        text-align: right;
    }
    .content-up-left-massages{
        width: 50%;
        font-weight: bold;
        margin-left: 1%;
        color: #64D1A3;
    }

    /*主体*/
    .content-middle-number{
        height: 75px;
        line-height: 75px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 32px;
        border-top: 2px solid #D9FAE9;
        border-bottom: 2px solid #D9FAE9;
    }
    .content-middle-number-three{
        font-size: 50px;
        color: #666666;
    }
    
    .content-middle-title{
        text-align: center;
        color: #999999;
        font-size: 40px;
        margin-top: 40px;
    }
    .content-middle-choose{
        color: #787878;
        width: 40%;
        margin-left: 30%;
        margin-top: 80px;
        font-size: 17px;
    }
    .new{
        background-color: #D9FBEA;
        height: 40px;
        line-height: 40px;
    }
    .new input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .old{
        height: 40px;
        line-height: 40px;
    }
    .old input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .content-middle-choose-facebook{
        margin-top: 2em;
        height: 2em;
    }
    .content-middle-choose-or{
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
    }
    .or{
        width: 43%;
        height: 60px;
        border-bottom: 1px solid #999999;
    }
    .or-middle{
        font-size: 20px;
        height: 60px;
        line-height: 120px;
    }
    .content-middle-message_new{
        display: block;
        width: 40%;
        margin-left: 30%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_new input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-message_old{
        display: none;
        width: 40%;
        margin-left: 30%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_old input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-continue{
        width: 86%;
        margin:50px 7% 15px 7%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    .tip{
        font-size: 10px;
        text-align: center;
    }
    .tip-linetwo{
        margin-bottom: 30px;
    }
    .back{
        margin-left: 40%;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .forgot{
        margin-left: 30%;
        height: 30px;
        line-height: 60px;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .content-middle-continue_old{
        width: 86%;
        margin:20px 7% 60px 7%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    /*页脚*/
    .content-down{
        height: 180px;
        width: 100%;
        margin-top:840px;
        /*margin-top: 580px;*/
        background-color: #2BAB8B;
    }
}

@media screen and (max-width: 425px) {
    /*页头-至content-middle*/
    /*菜单按钮*/
    .mobile{
        position: absolute;
        top:0; 
        right:0;
    }
    .mobile-openbtn {
        float:right; 
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        outline:none;
    }
    .mobile-openbtn:active {
        border: 1px solid #CBCBCB;
    }
    .mobile-openbtn .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #CBCBCB;
    }
    .mobile-openbtn .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    /*菜单栏*/
    .navbar{
        display: none;
        cursor:pointer;
        position:relative;
        z-index:10;
        height:99%;
        width: 85%;
    }
    /*关闭菜单*/
    .navbar img{
        position:absolute; 
        z-index: 2000;
        display:block;
    }
    #navbar-img{
        position: absolute;
        width: 10%;
        height: width;
        right: 5%;
        top: 4%;
    }
    /*菜单背景*/
    .navbar-background{ 
        width:100%; 
        height:100%; 
        position:absolute; 
        right:0; 
        z-index:-5;
    }
    .navbar-background img{ 
        width:100%; 
        height:100%;
        position:absolute; 
        right:0; 
        z-index:-5;
    }
    /*菜单头*/
    .navbar-top{
        width:97%;
        margin-top: 5%;
        margin-left: 3%;
        z-index:20;
        display: flex;
        flex-direction: row;
        text-align: center;
        line-height: 55px;
    }
    .navbar-top-menu{
        font-size: 24px;
        color: #CBCBCB;
    }
    .navbar-top-mobile{
        font-size: 16px;
        margin-left: 12px;
        color: #77D6AE;
    }
    .navbar-top-massages{
        font-size: 16px;
        font-weight: bold;
        margin-left: 4px;
        color: #64D1A3;
    }
    /*菜单*/
    .navbar-choose{ 
        width:100%;
        z-index:20;
        position:relative;
        right:0; 
        top: 1%;
    }
    .navbar-choose li{ 
        width:100%; 
        height:35px; 
        list-style-type:none;
        border-top: 2px solid #F2F2F2;
        font-weight: bold;
    }
    #navbar-choose-home{
        color: #666666;
    }
    .navbar-choose li a{ 
        font-size:16px; 
        color: #A6A6A6;
        margin-left: 6%;
        text-decoration:none;
    }

    .content-up-right{
        display: none;
    }
    .content-up-center{
        display: none;
    }
    .content-up-left{
        width:100%;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        display: flex;
        padding-bottom: 30px;
        border-bottom: 2px solid #D9FAE9;
    }
    .content-up-left-mobile{
        width: 45%;
        color: #77D6AE;
        text-align: right;
    }
    .content-up-left-massages{
        width: 55%;
        font-weight: bold;
        margin-left: 1%;
        color: #64D1A3;
    }

    
    /*主体*/
    .content-middle-number{
        height: 65px;
        line-height: 65px;
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
        font-size: 18px;
    }
    .content-middle-number-three{
        font-size: 30px;
        color: #666666;
    }
    
    .content-middle-title{
        text-align: center;
        border-top: 2px solid #D9FAE9;
        color: #999999;
        font-size: 22px;
        padding-top: 20px;
    }
    .content-middle-choose{
        color: #787878;
        width: 82%;
        margin-left: 9%;
        margin-top: 20px;
        font-size: 17px;
    }
    .facf{
        line-height: 1.1em;
    }
    .new{
        background-color: #D9FBEA;
        height: 40px;
        line-height: 40px;
    }
    .new input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .old{
        height: 40px;
        line-height: 40px;
    }
    .old input{
        margin-left: 30px;
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }
    .content-middle-choose-facebook{
        margin-top: 2em;
        height: 2em;
    }
    .content-middle-choose-or{
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
    }
    .or{
        width: 43%;
        height: 60px;
        border-bottom: 1px solid #999999;
    }
    .or-middle{
        font-size: 20px;
        height: 60px;
        line-height: 120px;
    }
    .content-middle-message_new{
        display: block;
        width: 82%;
        margin-left: 9%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_new input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-message_old{
        display: none;
        width: 82%;
        margin-left: 9%;
        margin-top: 40px;
        color: #666666;
        font-size: 18px;
    }
    .content-middle-message_old input{
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        border: 1px solid #CBCBCB;
        font-size: 30px;
    }
    .content-middle-continue{
        width: 84%;
        margin:50px 8% 15px 8%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    .tip{
        font-size: 10px;
        text-align: center;
    }
    .tip-linetwo{
        margin-bottom: 30px;
    }
    .back{
        margin-left: 40%;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .forgot{
        margin-left: 30%;
        height: 30px;
        line-height: 60px;
        color: #999999;
        font-weight: bold;
        text-decoration:none;
    }
    .content-middle-continue_old{
        width: 84%;
        margin:20px 8% 60px 8%;
        height: 60px;
        background-color: #64D2A3;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    /*页脚*/
    .content-down{
        height: 150px;
        width: 100%;
        margin-top:700px;
        /*margin-top: 640px;*/
        background-color: #2BAB8B;
    }
}